// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #0DA4FB;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$main: #004A66;
$font-main: #D6C9BE;
$logo: #00A2FF;
