h1 {
  color: $main;
  text-shadow: 2px 1px 3px rgba(0,0,0,0.1);
    }

h3 {
  color: $logo;
}

.container {
  margin-top: 30px;
}

#player {
  margin-top: 25px;
  position: fixed;
  top: 80px;
  right: 40px;
}
