.add_coffee_btn {
  padding: 16px;
  background-color: #D6C9BE;
  border-radius: 32px;
  color: $main;
}

.add_coffee_btn:hover {
  text-decoration: none;
  color: #D6C9BE;
  background-color: $main;
}

.add_coffee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin: 0px 50px;
    h1 {
      color: $main;
      margin: 0px;
      text-shadow: 2px 1px 3px rgba(0,0,0,0.1);
    }
}

.card-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 2px 6px $main;
  p {
    font-size: 13px;
  }
}

.message {
  background: white;
  padding: 10px;
  display:flex;
  align-items: center;
}

.message-name {
  text-transform: uppercase;
  width: 150px;
  text-align: left;
  position: relative;
  margin: 5px;
  p {
    font-size: 15px;
  }
}

.characteristics {
  width: 750px;
  display:flex;
  text-align:left;
  justify-content:space-around;
  position:relative;
}

.characteristics-name{
  max-width: 80px;
}

.characteristics-value{
  width: flex;
  text-align: right;
}

.message-description {
  flex: 0 0 35%;
  padding: 10px;
}

.boxes-number {
  width: 200px;
  display:flex;
  text-align:left;
  justify-content:space-around;
  padding-left: 10px;
}

.card-user p {
  margin-bottom: 0px;
}

.title-number{
  width: 100px;
}
.number-number{
  max-width: 100px;
  text-align: right;
}

.edit_delete {
  padding:10px;
  margin-left: 30px;
  color: #377cea;
  text-align: left;
  }

a {
  color: #377cea;
}

