
.card-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 50px;
  background: white;
}

.image{
}

.message {
  background: white;
  padding: 10px;
  display:flex;
  align-items: center;
}

.message-name {
  font-size: 20px;
  text-transform: uppercase;
  width: 120px;
  text-align: left;
}

.characteristics {
  width: 250px;
  display:flex;
  text-align:left;
  justify-content:space-around;
}
.characteristics-name{
  max-width: 80px;
}
.characteristics-value{
  width: flex;
  text-align: right;
}

.message-description {
  flex: 0 0 30%;
}


.boxes-number {
  width: 200px;
  display:flex;
  text-align:left;
  justify-content:space-around;
  padding-left: 10px;
}

.card-user p {
  margin-bottom: 0px;
}

.title-number{
  width: 100px;
}
.number-number{
  max-width: 100px;
  text-align: right;
}

.edit_delete {
  padding:10px;
  margin-left: 20px;
}
