
.add_coffee {
  text-align: right;
  text-decoration: none;
  font-size: 25px;
}

.add_coffee:hover{
  text-decoration: none;
}

.card-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin: 50px;
  background: white;
  p {
    font-size: 13px;
  }
}

.message {
  background: white;
  padding: 10px;
  display:flex;
  align-items: center;
}

.message-name {
  text-transform: uppercase;
  width: 150px;
  text-align: left;
  position: relative;
  margin: 5px;
  p {
    font-size: 15px;
  }
}

.characteristics {
  width: 750px;
  display:flex;
  text-align:left;
  justify-content:space-around;
  position:relative;
}

.characteristics-name{
  max-width: 80px;
}

.characteristics-value{
  width: flex;
  text-align: right;
}

.message-description {
  flex: 0 0 35%;
  padding: 10px;
}

.boxes-number {
  width: 200px;
  display:flex;
  text-align:left;
  justify-content:space-around;
  padding-left: 10px;
}

.card-user p {
  margin-bottom: 0px;
}

.title-number{
  width: 100px;
}
.number-number{
  max-width: 100px;
  text-align: right;
}

.edit_delete {
  padding:10px;
  margin-left: 30px;
  color: #377cea;
  text-align: left;
  }

a {
  color: #377cea;
}

