
<div>
  <div  class = "col-sm-6.col-sm-offset-3">
    <h1>purchases#new</h1>
    <div class= "text-body">
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maxime a, maiores commodi provident repellendus autem distinctio numquam, quas sed, consequatur est voluptatibus, odit aspernatur reiciendis modi neque! Aliquam, sunt.</h2>
    </div>
  </div>
</div>
