<div class="wrapper">
  <div class="container">
    <h1>Your coffee's order is: </h1>
    <% if @coffees.count == 0 %>
      <p> Sorry you don't have any coffee to sell at the moment </p>
    <% else %>
      <% return true %>
    <% end %>
</div>
