
<div class="container">
  <div class="card-shop">
    <div class="title">
      Shopping Bag
    </div>
    <div class="item">
      <div class="image">
        <img src="item-1.png" alt="" />
      </div>
      <div class="information">
        <div class="description">
          <span> name </span>
          <span>quantity </span>
        </div>
        <div class="quantity">
          <p><%= 1 %></p>
          <p><%= 1 %></p>
        </div>
      </div>
      <div class="total-price">price</div>
        <p class="button">Ok</p>
      </div>
    </div>
  </div>
</div>
