<div class="home-banner">
  <p>
    <span id="banner-typed-text"></span>
  </p>

  <br>

    <div class="searchbar">
      <div class="text_searchbar">
        <h3>Seach by Machine or Drinking time : </h3>
      </div>
      <div class="searchbar_input">
        <%= form_tag root_path, id: "testme", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "French-press, Aeropress, Morning ..."
        %>
      <% end %>
      </div>
      <div class="add_coffee_btn">
        <%= link_to 'Coffee Culture', knowledge_path %>
      </div>
    </div>
  </div>
</div>
