  <div class="home-banner">
    <p>
      <span id="banner-typed-text"></span>
    </p>

    <br>

    <div class="searchbar">
      <div class="text_searchbar">
        <h3>choose your coffee's machine and intensity</h3>
      </div>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type machine model and intensity"
        %>
      <% end %>
    </div>
  </div>
\
