<div class="my-footer">
    <ul class="list-inline">
      <li><h4>Follow us on:</h4></li>
      <li><a href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
</div>
