  <div class="container">
    <div class="card-shop">
      <div class="title">
        <p> Shopping Bag</p>
      </div>
      <div class="item">

        <div class="information">
          <div class="description">
            <p>Name : </p>
            <p>in-stock : </p>
          </div>
          <div class="information-on-coffee">
            <div class="blend">
              <p><%= coffee.blend_name %></p>
            </div>
            <div class="in-stock">
              <p><%= coffee.stock %></p>
            </div>
          </div>
        </div>
          <div class="total-price">
            <p><strong><%= coffee.price_per_unit %>€</strong></p>
          </div>
        <div class="validation">
          <p><%=link_to "Checkout", new_coffee_purchase_path(coffee)%></p>
        </div>
      </div>
    </div>
  </div>
