  <div class="container">
    <div class="card-shop">
      <div class="title">
        <p> Shopping Bag</p>
      </div>
      <div class="item">
        <div class="image">
          <img src="item-1.png" alt="" />
        </div>
        <div class="information">
          <div class="description">
            <span> name </span>
            <span>quantity </span>
          </div>
          <div class="quantity">
            <p><%= coffee.blend_name %></p>
          </div>
        </div>
        <div class="total-price">
          <p><%= coffee.price_per_unit %>€</p>
        </div>
        <div class="validation">
          <p><%=link_to "Checkout", new_coffee_purchase_path(coffee)%></p>
        </div>
      </div>
    </div>
  </div>
