.text-body{
  margin-right: 350px;
}
#box-stock{
  width: 100px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

#name-coffee-larger{
  display: inline-flex;
  p{
    font-size:20px;
  }
}

#box-price {
  width: 150px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  p {
    font-size: 20px;
  }
}

#delete {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  p {
    font-size: 20px;
  }
}

#message-description {
    flex: 0 0 35%;
    padding: 10px;
    padding-left: 30px;
}
