// .card-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   width: 1300px;
// }

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .coffee-card {
    box-shadow: 0px 0px 5px rgb(220, 220, 220);
    transition: all 0.3s;
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    margin: 10px;
  }
  a {
    text-decoration:none;
    color: black;
  }
  .coffee-card:hover {
     margin-top: -10px;
     opacity: 0.9;
  }
}

// .card {
//   flex: 0 0 300px;
//   margin: 10px;
//   border-radius: 1px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.3);
//   transition: all 0.3s;
// }
// .card:hover {
//   margin-top: -10px;
// }

// style="background-image: )



.coffee-card-main {
  border-radius: 8px;
  box-shadow: 1px 2px 6px $main;
  height: 140px;
  // display:flex;
  // justify-content: center;
  // align-items: center;
  position: relative;
  .coffee-user {
    border-radius: 10%;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white
  }
  .coffee-tree {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
  }
  .coffee-blend-name {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
}
}

.coffee-card-footer {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  border-radius: 8px;
  box-shadow: 1px 2px 6px $main;

  .coffee-footer-price-and-provenance {
    padding-right: 5px;
  }
  .coffee-price {
    font-size: 20px;
    color: main;

  }
}

.coffee-caracteristics {
  ul {
    margin-bottom: 0px;
    padding-left: 10px;
    list-style-type: none;
  }
}

.coffee-total-price p {
  margin-bottom: 0px;
  text-align: right;
}

.coffee-add-review p {
  text-align: right;
}

#add-review-btn{
  color: $main;
}

#edit-review-btn{
  color: $main;
}



