.my-footer {
  background-size: cover;
  height: 70px;
  background-color: #0f2847;
  color: #3674B5;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0px 30px;
  h4 {
    font-size: 15px;
    padding: 0px;
  }
  margin: 0px;
  font-size: 20px;
  margin-top: 30px;
}
