.container{
  height:100vd;
}

.card-shop {
  position:fixed;
  margin: 80px auto;
  width: 300px;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
.information{
  width: 150px;
}


.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
