.searchbar {
  position: absolute;
  right: 5%;
  top: 25%;

  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  background-color: transparent;
  width: 25%;
}

 .text_searchbar h3 {
    color: #00A0FF;
    font-size: 20px;
    font-style: italic;
    text-align: center
}
